{% extends 'base.html' %}

{% block title %}Get App - CertifyChain{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <h1 class="text-center mb-5">Get the App</h1>
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="card mb-4">
                    <div class="card-body">
                        <h3>Download CertifyChain</h3>
                        <p>Our blockchain-based certificate system is available for use. To get started:</p>
                        <ol>
                            <li>Install MetaMask browser extension</li>
                            <li>Set up your Ethereum wallet</li>
                            <li>Connect to Ganache for testing</li>
                            <li>Access CertifyChain through your browser</li>
                        </ol>
                    </div>
                </div>
                
                <div class="card mb-4">
                    <div class="card-body">
                        <h4>Prerequisites</h4>
                        <ul>
                            <li>Python 3.8+</li>
                            <li>Django 5.0+</li>
                            <li>MetaMask Extension</li>
                            <li>Ganache (for local development)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
